In [18]:
import pandas as pd
from operator import add
from functools import reduce

In [19]:
coding={'subject':['pyton','java'],'amount':[1000,3000]}
df=pd.DataFrame(coding)
print(df)

  subject  amount
0   pyton    1000
1    java    3000

In [20]:
print("\n map opertion to multiply amount by 2\n")
df['amount']=df['amount'].map(lambda  x: x*2)
print(df)

 map opertion to multiply amount by 2

  subject  amount
0   pyton    2000
1    java    6000

In [22]:
print("\n operation of filter to display only subject\n")
df2=df.filter(items=['subject'])
print(df2)

 operation of filter to display only subject

  subject
0   pyton
1    java

In [23]:
print("\n reduse operation to find total amount\n")

 reduse operation to find total amount

In [24]:
reduce(add,df.amount)

8000