In [2]:
import pandas as pd 
df=pd.DataFrame([[9,4,8,9],
                [8,10,7,6],
                [7,6,8,9]],
               columns=['math','english','science','history'])
print(df)
df.agg(['sum','min','max','mean','median','std','count','size'])

   math  english  science  history
0     9        4        8        9
1     8       10        7        6
2     7        6        8        9

        math    english    science    history
sum     24.0  20.000000  23.000000  24.000000
min      7.0   4.000000   7.000000   6.000000
max      9.0  10.000000   8.000000   9.000000
mean     8.0   6.666667   7.666667   8.000000
median   8.0   6.000000   8.000000   9.000000
std      1.0   3.055050   0.577350   1.732051
count    3.0   3.000000   3.000000   3.000000
size     3.0   3.000000   3.000000   3.000000