In [5]:
import pandas as pd
df=pd.read_csv('C:/Users/GPT BANTWAL/Documents/weather1.csv')
df

   Unnamed: 0     city  temperature  humidity
0           0  newyork           70        68
1           1  beijing           67        70
2           2   mumbai           68        70